.content{
    background-color: #cecece;
    box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.445);
    box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.445);

    display: grid;
    grid-template-rows: min-content 1fr;
}

.add-container{
    padding: 10px;    
}